.app-section {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 64px;
   padding: 64px 0;
   background-image: url("../assets/images/backgrounds/backgroundDownloadRevvApp.jpg");
   background-position: 50% 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.app-details-container {
   display: flex;
}

.app-preview-images-container {
   width: 50%;
}

.previews-container {
   display: flex;
   margin-top: 24px;
   padding-left: 32px;
}

.previews-container:hover .preview-one {
   transform: translate3d(175px, -50px, 0);
}

.previews-container:hover .preview-two {
   transform: translate3d(-175px, 50px, 0);
   margin-top: 0;
}

.preview-one {
   height: 385px;
   align-self: flex-end;
   margin-top: 32px;
   margin-left: 32px;
   transition: all 0.3s ease-in-out 0s;
}

.preview-two {
   height: 412px;
   margin-left: 12px;
   transition: all 0.3s ease-in-out 0s;
}

.app-title {
   font-size: 24px;
}

.app-title span {
   font-weight: normal;
   color: gray;
}

.play-stores-details-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.paly-stores-label {
   font-size: 20px;
   text-align: center;
   color: gray;
}

.play-stores-images-container {
   margin-top: 12px;
}
